# Ignore Terraform directories and files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json

# Ignore Terraform lock files
*.lock.hcl

# Ignore crash logs
crash.log
terraform.tfplan
terraform.tfplan.*

# Ignore override files (if used)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive variable files
*.auto.tfvars
